extends ./layout/base.pug

block content
  h1 Starter
  p This starter project uses #[a(href="http://gulpjs.com/") Gulp], #[a(href="http://jade-lang.com") Pug], #[a(href="http://sass-lang.com") Sass], #[a(href="https://babeljs.io") Babel], #[a(href="https://www.browsersync.io") Browsersync].
